.env

.vscode

component-preview/.env*
component-preview/postcss*
component-preview/tailwind*
component-preview/src
component-preview/package
component-preview/package*
component-preview/vite*
component-preview/yarn*

app-preview
node_modules